/* Imports */
/* Color Definitions */
@import url(octicons.css);
.fade-out {
  background: none !important;
  margin-left: 100%;
  position: fixed;
  left: -35px !important; }
  .fade-out .octicon {
    font-size: 14px !important; }
  .fade-out.timer-wrapper {
    background-color: none !important; }
  .fade-out .timer {
    margin: 0 0 !important; }
  .fade-out .timer-toggle {
    padding-left: 0px !important;
    opacity: .3;
    text-align: left !important; }
  .fade-out .timer-amount {
    visibility: hidden; }

.timer-wrapper {
  background: rgba(255, 255, 255, 0.93);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0; }
  .timer-wrapper .octicon {
    font-size: 50px; }
  .timer-wrapper .timer {
    transition: all 300ms;
    position: relative;
    margin: 10% auto;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center; }
    .timer-wrapper .timer .timer-toggle {
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center; }
    .timer-wrapper .timer .timer-content {
      text-align: center; }
    .timer-wrapper .timer .time-left {
      font-size: 72px;
      display: block; }

.nav-list > li > a {
  font-size: 8pt; }

.curriculum {
  position: relative;
  font-size: 16px;
  /* General external link */
  /* GitHub Links */
  /* GitHub Book Links, Guide Links */
  /* YouTube Links */ }
  .curriculum .octicon, .curriculum .mega-octicon {
    font-size: 600%; }
  .curriculum img {
    width: 100%;
    height: auto; }
  .curriculum pre:before {
    content: "\f0c8";
    font: normal normal 22px octicons;
    float: right;
    color: #c0c7ce; }
  .curriculum .lab .panel-heading:before {
    content: "\f089";
    font: normal normal 16px octicons;
    float: right; }
  .curriculum .slide {
    width: 100%;
    background: #ffffff;
    display: table; }
    .curriculum .slide h2, .curriculum .slide h3, .curriculum .slide h4, .curriculum .slide h5 {
      text-align: center;
      font-size: 400%; }
    .curriculum .slide h1, .curriculum .slide h2, .curriculum .slide h3, .curriculum .slide h4, .curriculum .slide h5, .curriculum .slide h6, .curriculum .slide p, .curriculum .slide ul, .curriculum .slide pre, .curriculum .slide svg {
      margin-left: 0;
      margin-right: 0; }
    .curriculum .slide pre code {
      font-size: 1.5em; }
    .curriculum .slide ul, .curriculum .slide ol {
      display: inline-block;
      text-align: left; }
    .curriculum .slide .lab {
      text-align: left; }
      .curriculum .slide .lab ul, .curriculum .slide .lab ol {
        display: block; }
    .curriculum .slide .alignment {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .curriculum .slide .alignment > ul {
        font-size: 250%; }
  .curriculum a[href^="http://"],
  .curriculum a[href^="https://"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="http://"]:after,
    .curriculum a[href^="https://"]:after {
      content: "\f0b6";
      margin-left: 5px; }
  .curriculum a[href^="https://github.com"],
  .curriculum a[href^="https://www.github.com"],
  .curriculum a[href^="https://help.github.com"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="https://github.com"]:after,
    .curriculum a[href^="https://www.github.com"]:after,
    .curriculum a[href^="https://help.github.com"]:after {
      content: "\f008";
      margin-left: 5px; }
  .curriculum a[href^="http://git-scm.com/book"],
  .curriculum a[href^="https://guides.github.com"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="http://git-scm.com/book"]:after,
    .curriculum a[href^="https://guides.github.com"]:after {
      content: "\f007";
      margin-left: 5px; }
  .curriculum a[href^="https://youtube.com"],
  .curriculum a[href^="https://www.youtube.com"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="https://youtube.com"]:after,
    .curriculum a[href^="https://www.youtube.com"]:after {
      content: "\f0b9";
      margin-left: 5px; }
  .curriculum .summary h2:before, .curriculum .outline h2:before, .curriculum .details h2:before {
    padding: 5px;
    color: #CCCCCC;
    content: "\f078";
    font: normal normal 20px octicons; }

#toc-wrapper {
  opacity: .2;
  transition: all 200ms; }
  #toc-wrapper:hover {
    opacity: 1; }

#toc {
  font-size: .7em; }
  #toc a {
    padding: 5px; }

.affix-top {
  position: absolute; }

.affix {
  margin-top: -145px; }
