/* Imports */
@import "variables.scss";
@import "octicons.css";

$mono-dark: #454545;
@mixin octicon-link($char){
  font: normal normal 1em octicons;
  text-decoration: none;
  color: $color-dark;

  &:after{
    content: $char;
    margin-left: 5px;
  }
}


.fade-out{
  background: none !important;
  margin-left: 100%;
  position: fixed;
  left: -35px !important;

  .octicon{
    font-size: 14px !important;
  }

  &.timer-wrapper{
    background-color: none !important;
  }

  .timer{
    margin: 0 0 !important;
  }

  .timer-toggle{
    padding-left: 0px !important;
    opacity: .3;
    text-align: left !important;
  }

  .timer-amount{
    visibility: hidden;
  }

}

.timer-wrapper{
  background: rgba(255,255,255,.93);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  .octicon{
    font-size: 50px;
  }

  .timer{
    transition: all 300ms;
    position: relative;
    margin: 10% auto;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;

    .timer-toggle{
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;
    }

    .timer-content{
      text-align: center;
    }

    .time-left{
      font-size: 72px;
      display: block;
    }
  }
}

.nav-list>li>a{
  font-size: 8pt;
}

.curriculum{
  position: relative;
  font-size: 16px;

  .octicon,.mega-octicon{
    font-size: 600%;
  }

  img{
    width: 100%;
    height: auto;
  }

  pre{
    &:before {
      content: "\f0c8";
      font: normal normal 22px octicons;
      float: right;
      color: #c0c7ce;
    }
  }

  .lab{
    .panel-heading{
      &:before{
        content: "\f089";
        font: normal normal 16px octicons;
        float: right;

      }
    }
  }

  .slide{
    width: 100%;
    background: #ffffff;
    display: table;

    h2,h3,h4,h5{
      text-align: center;
      font-size: 400%;
    }

    h1,h2,h3,h4,h5,h6,p,ul,pre,svg{
      margin-left: 0;
      margin-right: 0;
    }

    pre{
      code{
        font-size: 1.5em;
      }
    }

    ul,ol{
      display: inline-block;
      text-align: left;
    }
    .lab{
      text-align: left;
      ul, ol{
          display: block;
      }
    }

    .alignment{
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      & > ul{
        font-size: 250%;
      }
    }
  }

  /* General external link */
  a[href^="http://"],
  a[href^="https://"] {
    @include octicon-link("\f0b6");
  }

  /* GitHub Links */
  a[href^="https://github.com"],
  a[href^="https://www.github.com"],
  a[href^="https://help.github.com"]
  {
    @include octicon-link("\f008");
  }

  /* GitHub Book Links, Guide Links */
  a[href^="http://git-scm.com/book"],
  a[href^="https://guides.github.com"]
  {
    @include octicon-link("\f007");
  }

  /* YouTube Links */
  a[href^="https://youtube.com"],
  a[href^="https://www.youtube.com"] {
    @include octicon-link("\f0b9");
  }

  .summary, .outline, .details{
    h2:before{
      padding: 5px;
      color: #CCCCCC;
      content: "\f078";
      font: normal normal 20px octicons;
    }
  }
}

#toc-wrapper{
  opacity: .2;
  transition: all 200ms;
  &:hover{
    opacity: 1;
  }
}

#toc{
  font-size: .7em;
  a{
    padding: 5px;
  }
}

.affix-top{
  position: absolute;
}

.affix{
  margin-top: -145px;
}

.affix-bottom{
}
